
:root {
    --light: 255, 255, 255;
    --dark: 0, 0, 0;
    --first: 0, 172, 219;
    --second: 246, 139, 31;
}

/*  */

body, h1, h2, h3, h4, h5, h6, p, nav, ul, figure, a, button { margin: 0px; padding: 0px; }
figure { line-height: 0px; }
a, button { text-decoration: none !important; cursor: pointer !important; }

[data-mobile-block], [data-mobile-flex] { display: none !important; }

@media (max-width: 768px) {

    [data-desktop] { display: none !important; }
    [data-mobile-block] { display: block !important; }
    [data-mobile-flex] { display: flex !important; }
    .container { width: 100%; margin: 0px; padding: 0px !important; }
}

[data-ajax-loader] {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9999;
}

[data-ajax-loader] > div.loader {
    width: 2em;
    height: 2em;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    position: absolute;
    display: inline-block;
    margin: auto;
    vertical-align: middle;
    pointer-events: none;
    border: 1em solid transparent;
    border-top-color: currentcolor;
    border-radius: 50%;
    color: #e0e0e0;
    -webkit-animation: 1s loader linear infinite;
            animation: 1s loader linear infinite;
}

[data-ajax-loader] > div.loader:before {
    width: inherit;
    height: inherit;
    top: -1em;
    left: -1em;
    position: absolute;
    display: block;
    content: '';
    border: 1em solid currentcolor;
    border-radius: 50%;
    opacity: .5;
}

@-webkit-keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

/*  */

/* @font-face {
    font-family: 'Montserrat-Regular';
    src: url("../fonts/Montserrat-Regular.ttf");
}

body * {
    font-family: 'Montserrat-Regular' !important;
}

.fa, .far, .fas {
    font-family: 'Font Awesome 5 Free' !important;
}

.fab {
    font-family: 'Font Awesome 5 Brands' !important;
} */

/*  */

#desktop_menu.down {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    background-color: rgba(var(--second), 1) !important;
}

#desktop_menu.down figure {
    display: block !important;
}

@media (max-width: 768px) {

    #mobile_menu.open {
        right: 0px !important;
    }
}

/*  */

article.card > header {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: rgba(var(--second), 1);
}

article.card > header > figure {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    top: 100px;
    background-color: #fff;
}

article.card > header > figure > img {
    width: 100%;
}

article.card > main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 100px;
    box-sizing: border-box;
}

article.card > main > h1 {
    font-size: 30px;
    font-weight: 600;
    color: #212121;
    padding: 0px 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    text-align: center;
}

article.card > main > p {
    font-size: 14px;
    font-weight: 400;
    color: #757575;
    padding: 0px 20px;
    box-sizing: border-box;
    margin-bottom: 30px;
    text-align: center;
}

article.card > main > div.buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

article.card > main > div.buttons > a {
    width: calc(100% / 3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #212121;
}

article.card > main > div.buttons > a > i {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6ab2e3;
    border-radius: 50%;
    font-size: 24px;
    color: #fff;
    margin-bottom: 10px;
}

article.card > main > figure {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 50px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

article.card > main > figure > img {
    width: 100%;
}

article.card > main > #map {
    width: 100%;
    height: 100vh;
}
