
:root {
    --light: 255, 255, 255;
    --dark: 0, 0, 0;
    --first: 0, 172, 219;
    --second: 246, 139, 31;
}

/*  */

body, h1, h2, h3, h4, h5, h6, p, nav, ul, figure, a, button { margin: 0px; padding: 0px; }
figure { line-height: 0px; }
a, button { text-decoration: none !important; cursor: pointer !important; color: rgba(var(--dark), 1); }
[data-mobile-block], [data-mobile-flex] { display: none !important; }
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto { padding-left: 10px; padding-right: 10px; }

@media (max-width: 768px) {

    [data-desktop] { display: none !important; }
    [data-mobile-block] { display: block !important; }
    [data-mobile-flex] { display: flex !important; }
    .container.full { width: 100%; margin: 0px; padding: 0px !important; }
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto { padding-left: 5px; padding-right: 5px; }
}

[data-ajax-loader] {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9999;
}

[data-ajax-loader] > div.loader {
    width: 2em;
    height: 2em;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    position: absolute;
    display: inline-block;
    margin: auto;
    vertical-align: middle;
    pointer-events: none;
    border: 1em solid transparent;
    border-top-color: currentcolor;
    border-radius: 50%;
    color: #e0e0e0;
    -webkit-animation: 1s loader linear infinite;
            animation: 1s loader linear infinite;
}

[data-ajax-loader] > div.loader:before {
    width: inherit;
    height: inherit;
    top: -1em;
    left: -1em;
    position: absolute;
    display: block;
    content: '';
    border: 1em solid currentcolor;
    border-radius: 50%;
    opacity: .5;
}

@-webkit-keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

/*  */

@font-face {
    font-family: 'Montserrat-Regular';
    src: url("../fonts/Montserrat-Regular.ttf");
}

/* */

#desktop_menu.down {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    background-color: rgba(var(--light), 1) !important;
}

#desktop_menu.down figure > a > img:first-child {
    display: none !important;
}

#desktop_menu.down figure > a > img:last-child {
    display: block !important;
}

#desktop_menu.down nav > ul > li > a {
    color: rgba(var(--dark), 1) !important;
}

@media (max-width: 768px) {

    #desktop_menu.down div > a {
        color: rgba(var(--dark), 1) !important;
    }

    #mobile_menu.open {
        right: 0px !important;
    }

    #cover h1,
    #cover h2 {
        font-size: 40px !important;
    }

    #cover h1 {
        display: block !important;
    }

    #cover p {
        font-size: 18px !important;
    }

    #pruebas-covid-19 h2,
    #care_protocol h2,
    #agenda-una-cita h2,
    #contactanos h2 {
        font-size: 30px !important;
    }

    #pruebas-covid-19 p,
    #care_protocol p,
    #agenda-una-cita p,
    #contactanos p {
        font-size: 16px !important;
    }

    #tests table > tbody > tr > td {
        border: 1px solid #fff !important;
        background-color: #f5f5f5 !important;
    }

    #tests table > tbody > tr > td > div {
        border-radius: 0px !important;
    }

    #tests h2,
    #tests h3,
    #tests p {
        font-size: 12px !important;
    }

    #other_services h2 {
        font-size: 14px !important;
    }

    #wa_flat > a {
        font-size: 14px !important;
    }
}
